* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    position: absolute;
    left: 50%;
    margin-left: -125px;
}

.searchbar {
    display: flex;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin: 0 auto;
    height: 44px;
    width: 484px;
}

.searchbar:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.searchbar img {
    position: relative;
    z-index: 10;
    margin-top: 11px;
    margin: 11px 25px;
}

.searchbar input {
    font: 16px arial,sans-serif;
    color: rgba(0,0,0,.87);
    line-height: 34px;
    display: flex;
    flex: 100%;
}

.searchbar input:focus{
    outline: none;
}