* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a, p {
    font-family: arial,sans-serif;
}

.nav {
    width: 100%;
    display: block;
    margin-top: 15px; 
}

.container {
    display: flex;
    justify-content: space-between;
    line-height: 0;
}

.left_menu,
.right_menu {
    display: flex;
    align-items: center;
    margin: 0 15px 0 30px;
}

.container a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font-size: 13px;
    margin-right: 20px;
}

.container a:hover {
    text-decoration: underline;
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 980px;
    margin-top: 150px;
}

.main img {
    margin: 0 auto;
    margin-bottom: 20px;
}

.searchbar {
    display: flex;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    height: 39px;
    width: 476px;
    margin: 0 auto;
}

.searchbar:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.searchbar img {
    position: relative;
    z-index: 10;
    margin: 0 25px;
}

.searchbar input {
    border: none;
    font: 16px arial,sans-serif;
    color: rgba(0,0,0,.87);
    line-height: 34px;
    display: flex;
    flex: 100%;
}

.searchbar input:focus{
    outline: none;
}

.searchbar input:active{
    background-color: transparent;
}

.buttons {
    margin: 0 auto;
    display: flex;
    margin-top: 20px;

}

.buttons input {
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

.buttons input:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.buttons input:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.footer_top, .footer_bottom {
    width: 100%;
    height: 35px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
}

.footer_top {
    bottom: 35px;
}

.footer_top p {
    color: rgba(0,0,0,.54);
    display: inline;
    margin-left: 30px;
    font-size: 15px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 30px;
}

.footer_bottom a {
    color: #5f6368;
    text-decoration: none;
    font-size: small;
    margin-right: 20px;
}

.footer_bottom a:hover {
    text-decoration: underline;
}
